body {
  font-size: .875rem;
}
.navbar-custom{
    background: linear-gradient(180deg, #393939 0%, #141414 100%);
    border-bottom: 1px solid #676767
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
}
.position-relative{
    position: relative;
}

.toggle-password{
    position: absolute;
    right: 30px;
    top: 46%;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-progress{
    height: 5px;
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
}
.sidebar .nav-link:hover{
    background: #FFFFFF;
}

.sidebar .nav-link.active {
    color: #2470dc;
    background: #e7f1ff;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.text-area-custom-h{
  height: 120px !important;
}
.wrapper-image-preview-form, .wrapper-image-preview-form-icon{
    width: 100%;
    max-height: 475px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
}
.wrapper-image-preview-form-banner{
    max-height: 130px;
    padding: 0;
}
.max-height-100{
    max-height: 100%;    
}
.wrapper-image-preview-form input{
  position: absolute;
  height: 100%;
  opacity: 0;
}
.wrapper-image-preview-form-icon{
  background: transparent;
  max-width: 256px;
  padding: 1em;
}
.wrapper-form-img{
    overflow: hidden;
    width: 50px;
    height: 56px;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-form-img img{
  width: auto;
  height: 100%;
}
.wrapper-form-img-icon{
  overflow: hidden;
}
.wrapper-form-img-icon img{
  max-height: 65px;
}
.form-floating{
  position: relative;
}
.tool-tip-form-float{
    position: absolute;
    right: -5px;
    top: -10px;
    color: #580097;
    background: #FFF;
    border-radius: 50%;
}
.custom-switch{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.custom-switch .form-check-input {
    width: 2.5em;
    height: 1.5em;
}
.custom-switch .form-check-input::before {
    width: 2.5em;
    height: 1.5em;
}
.custom-switch .form-check-input::after {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
}
.wrapper-btn-save-absolute{
  background: red;
    width: 100%;
    position: fixed;
    z-index: 222;
    bottom: 0;
}
.btn-save-absolute{
    position: fixed;
    background: #15975a;
    padding: 1em;
    border-radius: 50%;
    color: #FFF;
    right: 1%;
    bottom: 12px;
    z-index: 99;
    box-shadow: 2px 4px 15px 1px #22a96994;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-save-absolute svg{
  width: 30px;
  height: 30px;
}
.btn-save-absolute:hover{
  cursor: pointer;
}
#formErrorToast{
    position: fixed;
    z-index: 999999;
    top: 10px;
    right: 10px;
}
.sortable-ghost {
  border:3px solid #1995F0;
  color: #FFF;
}
.form-switch-lg .form-check-input {
  width: 2.3rem;
  height: 1.2rem;
}

.form-switch-lg .form-check-input:checked::before {
  transform: translateX(1rem);
}


.conversation-thread{
    display: flex;
    gap: 16px;
    align-items: flex-end;
    margin:1.5em 0;
    position: relative;
}
.user-image{
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.user-image img{
    width: 100%;
}
.message-container{
    background: #FFF;
    border-radius: 15px;
    padding: 1.2em;
    min-width: 310px;
    position: relative;
}
.thread-ai .message-container{
    margin-right: 7em;
    border-bottom: 4px solid #e3e3e3;
}
.thread-user{
        justify-content: flex-end;
}
.thread-user .message-container{
    background: #E3F3FF;
    border-bottom: 4px solid #baccd9;
}
.thread-user .message-text::before{
    display: none;
}
.chat-response{
    white-space: pre-wrap;
}
.chat-response img{
    max-width: 200px;
    margin-right: 7px;
    border-radius: 9px;
}
.message-container .user-name h5{
    font-size: 18px;
    font-weight: bold;
    color: #0072C6;
    margin-bottom: 0.3em;
}
.chat-response{
    font-family: 'Nunito Sans', sans-serif;
}
.message-container .message-text{
    color: #2c2c2c;
    font-size: 16px;
    position: relative;
}
.message-container::before{
    content: '';
    position: absolute;
    bottom: 13px;
    left: -9px;
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
}
.date-chat{
    font-size: 14px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #787878;
}
.date-chat img{
    height: 14px;
}
#overflow-chat {
    overflow-y: auto;
    overflow-x: hidden;
    height: 550px;
    background: url(../img/chat-pattern.png) #F3F3F3;
    padding: 1em;
    border-radius: 9px;
}
.thread-user .message-container::before{
    display: none;
}

.select2-container {
    width: 100% !important;
}
.alert{
    align-items: center;
    gap: 7px;    
}
.trumbowyg-editor{
    height: 550px;
}
.preview-image-header-theme{
    background: #EAEAEA;
    height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-image-header-theme img{
    object-fit: contain;
    height: 100%;
}
.resume-card{
    background: #FFF;
    border: 1px solid #EAEAEA;
    box-shadow: 1px 1px 12px -5px #CCCCCC85;
    border-radius: 5px;
}
.wrapper-prompt-img-chats{
    height: 100%;
    overflow: hidden;
}
.wrapper-prompt-img-chats img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title, .card-expert{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-overflow{
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 5em;
}
.menu-overflow::-webkit-scrollbar {
  width: 4px; 
}
.menu-overflow::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px; 
}
.menu-overflow::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.menu-overflow::-webkit-scrollbar-track {
  background-color: #eee; 
}
.menu-overflow::-webkit-scrollbar-track:hover {
  background-color: #ddd; 
}
.CodeMirror {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #EAEAEA;
}
.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen {
    background: #FFF;
}
textarea {
  resize: none;
}
.note-dropdown-menu{
    min-width: 200px !important;
}
.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable{
    padding: 1em;
}
#modal-output-post-body {
    white-space: pre-line;
    height: 555px;
    overflow-y: auto;
    padding: 1em;
    font-size: 18px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin: 1em 0;
    box-shadow: 1px 1px 16px 0px #CCC;
}

.tab-content>.active {
    display: block;
    border:0;
}
.custom-nav-settings .nav-tabs .nav-link {
    background: #f9f9f9;
    border: 0;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    gap: 10px;
    color: #367cdf;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    justify-content: flex-start;    
}
.custom-nav-settings .nav-link.active{
    background: #367cdf;
    color: #FFF;
}
.custom-nav-settings .nav-tabs .nav-link:not(.active):hover {
    background: #f6faff;
    color: #367cdf;
}
.custom-nav-settings .nav-tabs .nav-link:active{
 color: #367cdf;   
}
.custom-nav-settings .nav{
    border:0;
}
#spiner-loading-settings{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
table.dataTable>tbody>tr{
    transition: all 0.1s ease; 
}
table.dataTable>tbody>tr:hover{
    box-shadow: 1px 1px 21px -3px #CCC;
}
.label-prompt-wrapper{
    width: 100%;
}
.label-prompt{
    display: flex;
    gap:10px;
    width: 100%;
    margin-bottom: 1em;
}
.label-prompt-image{
    width: 60px;
}
.label-prompt-image img{
    border-radius: 8px;
    min-width: 60px;
    max-width: 65px;
    width: 100%;
}
.label-prompt-info h4{
    font-size: 16px;
    font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;             
}
.label-prompt-info h5{
    font-size: 12px;
    color: #3d3d3d;
    font-weight: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;         
}

.package-display-prompts-vip{
    padding: 1em 0 1.3em 0
}
.package-wrapper-prompt{
    display: flex;
}
.package-wrapper-prompt {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
}
.package-wrapper-prompt-thumb img {
  border-radius: 50%; 
  width: 25px;
  height: 25px;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;   
  transition: all 0.3s ease-out;
}
.package-wrapper-prompt-thumb img:hover{
    box-shadow: 1px 1px 15px 1px #0072c685;
}
.custom-switch-package{
    margin-bottom: 1em;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.highlighted-voice {
    background-color: #ffc107;
}
/*/ Small devices (landscape phones, 576px and up)/*/
@media (max-width: 767px){
}

/*/ Medium devices (tablets, 768px and up)/*/
@media (min-width: 768px) and (max-width: 991px){

}

/*/Large devices (desktops, 992px and up)/*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*/ X-Large devices (large desktops, 1200px and up)/*/
@media (min-width: 1200px) and (max-width: 1399px){
}

/*/// XX-Large devices (larger desktops, 1400px and up)/*/
@media (min-width: 1400px) {

}